* {
    font-family: Arial, Helvetica, sans-serif;
}


p {
    color: rgb(255, 60, 0);
    font-family: 'Times New Roman', Times, serif;    
}

#paragrafo1{
   color: red; 
   font-size: x-large;
   font-weight: bold;
}